<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSPayworksMobileSDK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9005EE526DE67A50081C9F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9005EFB26DE67A80081C9F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9005F0626DE67A80081C9F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
